pug/limpieza-comercial.pug
<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    #multilimpio
      include blocks/header1.pug
      section
        .section.multilimpio(data-sticky-container)
          h2.title__section Limpieza comercial
          aside.aside
            .aside__content(data-sticky="")
              ul.aside__main
                li.aside__item: a.active(href="#sec1") Limpieza de locales comerciales o galerías
                li.aside__item: a(href="#sec2") Limpieza de colegios y unidades educativas
                li.aside__item: a(href="#sec3") Limpieza de oficinas
                li.aside__item: a(href="#sec4") Limpieza de restaurantes
                li.aside__item: a(href="#sec5") Lavado de letreros exteriores
                li.aside__item: a(href="#sec6") Lavado de puertas de vidrio
                li.aside__item: a(href="#sec7") Desmanchado de paredes
                li.aside__item: a(href="#sec8") Limpieza y regado de aceras
            .aside__movil
              ul.aside__main
                li.aside__item: a(href="#sec1") Limpieza de locales comerciales o galerías
                li.aside__item: a(href="#sec2") Limpieza de colegios y unidades educativas
                li.aside__item: a(href="#sec3") Limpieza de oficinas
                li.aside__item: a(href="#sec4") Limpieza de restaurantes
                li.aside__item: a(href="#sec5") Lavado de letreros exteriores
                li.aside__item: a(href="#sec6") Lavado de puertas de vidrio
                li.aside__item: a(href="#sec7") Desmanchado de paredes
                li.aside__item: a(href="#sec8") Limpieza y regado de aceras
          main.article
            article 
              h3#sec1.subtitle__content Limpieza de locales comerciales o galerías
              ul.lb-album
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article 
              h3#sec2.subtitle__content Limpieza de colegios y unidades educativas
              ul.lb-album
                li
                  a(href='#colegios-1')
                    img(data-src='images/limpieza-comercial/limpieza colegios -1.jpg', alt='image01')
                    span Limpieza comercial
                  #colegios-1.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza colegios -1.jpg', alt='image01')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#colegios-3') Prev
                        a.lb-next(href='#colegios-2') Next
                      a.lb-close(href='#page') x Cerrar
                li
                  a(href='#colegios-2')
                    img(data-src='images/limpieza-comercial/limpieza colegios -2.jpg', alt='image02')
                    span Limpieza comercial
                  #colegios-2.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza colegios -2.jpg', alt='image02')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#colegios-1') Prev
                        a.lb-next(href='#colegios-3') Next
                      a.lb-close(href='#page') x Cerrar
                li
                  a(href='#colegios-3')
                    img(data-src='images/limpieza-comercial/limpieza colegios -3.jpg', alt='image03')
                    span Limpieza comercial
                  #colegios-3.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza colegios -3.jpg', alt='image03')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#colegios-2') Prev
                        a.lb-next(href='#colegios-1') Next
                      a.lb-close(href='#page') x Cerrar
            article 
              h3#sec3.subtitle__content Limpieza de oficinas
              ul.lb-album
                li
                  a(href='#oficinas-1')
                    img(data-src='images/limpieza-comercial/limpieza oficinas -1.jpg', alt='image01')
                    span Limpieza comercial
                  #oficinas-1.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza oficinas -1.jpg', alt='image01')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#oficinas-3') Prev
                        a.lb-next(href='#oficinas-2') Next
                      a.lb-close(href='#page') x Cerrar
                li
                  a(href='#oficinas-2')
                    img(data-src='images/limpieza-comercial/limpieza oficinas -2.jpg', alt='image02')
                    span Limpieza comercial
                  #oficinas-2.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza oficinas -2.jpg', alt='image02')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#oficinas-1') Prev
                        a.lb-next(href='#oficinas-3') Next
                      a.lb-close(href='#page') x Cerrar
                li
                  a(href='#oficinas-3')
                    img(data-src='images/limpieza-comercial/limpieza oficinas -3.jpg', alt='image03')
                    span Limpieza comercial
                  #oficinas-3.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza oficinas -3.jpg', alt='image03')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#oficinas-2') Prev
                        a.lb-next(href='#oficinas-1') Next
                      a.lb-close(href='#page') x Cerrar
            article 
              h3#sec4.subtitle__content Limpieza de restaurantes
              ul.lb-album
                li
                  a(href='#limpieza-restaurante-1')
                    img(data-src='images/limpieza-comercial/limpieza restaurantes -1.jpg', alt='image01')
                    span Limpieza comercial
                  #limpieza-restaurante-1.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza restaurantes -1.jpg', alt='image01')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#limpieza-restaurante-3') Prev
                        a.lb-next(href='#limpieza-restaurante-2') Next
                      a.lb-close(href='#page') x Cerrar
                li
                  a(href='#limpieza-restaurante-2')
                    img(data-src='images/limpieza-comercial/limpieza restaurantes -2.jpg', alt='image02')
                    span Limpieza comercial
                  #limpieza-restaurante-2.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza restaurantes -2.jpg', alt='image02')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#limpieza-restaurante-1') Prev
                        a.lb-next(href='#limpieza-restaurante-3') Next
                      a.lb-close(href='#page') x Cerrar
                li
                  a(href='#limpieza-restaurante-3')
                    img(data-src='images/limpieza-comercial/limpieza restaurantes -3.jpg', alt='image03')
                    span Limpieza comercial
                  #limpieza-restaurante-3.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza restaurantes -3.jpg', alt='image03')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#limpieza-restaurante-2') Prev
                        a.lb-next(href='#limpieza-restaurante-1') Next
                      a.lb-close(href='#page') x Cerrar
            article 
              h3#sec5.subtitle__content Lavado de letreros exteriores
              ul.lb-album
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article 
              h3#sec6.subtitle__content Lavado de puertas de vidrio
              ul.lb-album
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article 
              h3#sec7.subtitle__content Desmanchado de paredes
              ul.lb-album
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article 
              h3#sec8.subtitle__content Limpieza y regado de aceras
              ul.lb-album
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen       
    include blocks/footer.pug

public_html/limpieza-comercial.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="MULTILIMPIO SRL."/>
    <meta property="og:title" content="MULTILIMPIO SRL. Empresa de limpieza industrial, comercial y doméstica"/>
    <meta property="og:description" content="MULTILIMPIO SRL."/>
    <meta name="author" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="styles.css"/>
    <title>MULTILIMPIO SRL. Empresa de limpieza industrial, comercial y doméstica</title>
  </head>
  <body class="body">
    <div id="multilimpio">
      <header class="header">
        <div class="multilimpio header__logo"><a href="./"><span class="wow fadeInDown" style="display:block;" data-wow-duration="1.5s" data-wow-delay=".0s"><img class="isologo" src="images/isologo.png" alt="MULTILIMPIO SRL."/></span></a>
          <ul class="social header__social">
            <li class="social__icon wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".0s"><a href="#" target="_blanck"><i class="icon-facebook"></i></a></li>
            <li class="social__icon wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".0s"><a href="#" target="_blanck"><i class="icon-youtube"></i></a></li>
            <li class="social__icon wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".0s"><a href="#" target="_blanck"><i class="icon-twitter"></i></a></li>
          </ul>
          <ul class="main-inicio">
            <li class="main-inicio__item wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".0s"><a class="main-inicio__link wow swing" href="./"><i class="icon-home"></i> Inicio</a></li>
            <li class="main-inicio__item wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".0s"><a class="main-inicio__link wow swing" href="./nosotros.html"><i class="icon-us"></i> Nosotros</a></li>
            <li class="main-inicio__item wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".0s"><a class="main-inicio__link wow swing" href="./contactos.html"><i class="icon-contact"></i> Contactos</a></li>
          </ul>
          <button class="main__button toggle__button" v-on:click="sideMain" :class="{toggle__button_active: menutemporal}" type="button"> 
            <div class="hamburger hamburger--elastic" :class="{'is-active' : menutemporal}"><span class="hamburger-box"><span class="hamburger-inner"></span></span></div><span style="font-size: 1.5rem;">&nbsp; MENÚ</span>
          </button>
          <div class="multilimpio toggle__main" :class="{toggle__main_active: menutemporal}">
            <nav class="header__main">
              <ul class="toggle__inicio">
                <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./"><i class="icon-home"></i> Inicio</a></li>
                <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./nosotros.html"><i class="icon-us"></i> Nosotros</a></li>
                <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./contactos.html"><i class="icon-contact"></i> Contactos </a></li>
              </ul>
              <ul class="main">
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".4s"><a class="main__link" href="limpieza-industrial.html">
                    <button class="main__button">LIMPIEZA<br>INDUSTRIAL</button></a></li>
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".2s"><a class="main__link" href="limpieza-comercial.html">
                    <button class="main__button">LIMPIEZA<br>COMERCIAL</button></a></li>
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".0s"><a class="main__link" href="limpieza-domestica.html">
                    <button class="main__button">LIMPIEZA<br>DOMÉSTICA</button></a></li>
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".2s"><a class="main__link" href="otros-servicios.html">
                    <button class="main__button">OTROS<br>SERVICIOS</button></a></li>
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".4s"><a class="main__link" href="accesorios-y-productos-de-limpieza.html">
                    <button class="main__button">ACCESORIOS<br>  Y PRODUCTOS</button></a></li>
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".5s"><a class="main__link" href="trabaja-con-nosotros.html">
                    <button class="main__button main__button_info">TRABAJA CON<br> NOSOTROS</button></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <section>
        <div class="section multilimpio" data-sticky-container="data-sticky-container">
          <h2 class="title__section">Limpieza comercial</h2>
          <aside class="aside">
            <div class="aside__content" data-sticky="">
              <ul class="aside__main">
                <li class="aside__item"><a class="active" href="#sec1">Limpieza de locales comerciales o galerías</a></li>
                <li class="aside__item"><a href="#sec2">Limpieza de colegios y unidades educativas</a></li>
                <li class="aside__item"><a href="#sec3">Limpieza de oficinas</a></li>
                <li class="aside__item"><a href="#sec4">Limpieza de restaurantes</a></li>
                <li class="aside__item"><a href="#sec5">Lavado de letreros exteriores</a></li>
                <li class="aside__item"><a href="#sec6">Lavado de puertas de vidrio</a></li>
                <li class="aside__item"><a href="#sec7">Desmanchado de paredes</a></li>
                <li class="aside__item"><a href="#sec8">Limpieza y regado de aceras</a></li>
              </ul>
            </div>
            <div class="aside__movil">
              <ul class="aside__main">
                <li class="aside__item"><a href="#sec1">Limpieza de locales comerciales o galerías</a></li>
                <li class="aside__item"><a href="#sec2">Limpieza de colegios y unidades educativas</a></li>
                <li class="aside__item"><a href="#sec3">Limpieza de oficinas</a></li>
                <li class="aside__item"><a href="#sec4">Limpieza de restaurantes</a></li>
                <li class="aside__item"><a href="#sec5">Lavado de letreros exteriores</a></li>
                <li class="aside__item"><a href="#sec6">Lavado de puertas de vidrio</a></li>
                <li class="aside__item"><a href="#sec7">Desmanchado de paredes</a></li>
                <li class="aside__item"><a href="#sec8">Limpieza y regado de aceras</a></li>
              </ul>
            </div>
          </aside>
          <main class="article">
            <article> 
              <h3 class="subtitle__content" id="sec1">Limpieza de locales comerciales o galerías</h3>
              <ul class="lb-album">
                  <li><a href="#limpieza-empresas-1"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/><span>Limpieza comercial</span></a>
                    <div class="lb-overlay" id="limpieza-empresas-1">
                      <div class="lb-content section"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/>
                        <div>
                          <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-empresas-0">Prev</a><a class="lb-next" href="#limpieza-empresas-2">Next</a>
                        </div><a class="lb-close" href="#pagina">x Cerrar</a>
                      </div>
                    </div>
                  </li>
                  <li><a href="#limpieza-empresas-2"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/><span>Limpieza comercial</span></a>
                    <div class="lb-overlay" id="limpieza-empresas-2">
                      <div class="lb-content section"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/>
                        <div>
                          <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-empresas-1">Prev</a><a class="lb-next" href="#limpieza-empresas-3">Next</a>
                        </div><a class="lb-close" href="#pagina">x Cerrar</a>
                      </div>
                    </div>
                  </li>
                  <li><a href="#limpieza-empresas-3"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/><span>Limpieza comercial</span></a>
                    <div class="lb-overlay" id="limpieza-empresas-3">
                      <div class="lb-content section"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/>
                        <div>
                          <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-empresas-2">Prev</a><a class="lb-next" href="#limpieza-empresas-4">Next</a>
                        </div><a class="lb-close" href="#pagina">x Cerrar</a>
                      </div>
                    </div>
                  </li>
              </ul>
            </article>
            <article> 
              <h3 class="subtitle__content" id="sec2">Limpieza de colegios y unidades educativas</h3>
              <ul class="lb-album">
                <li><a href="#colegios-1"><img data-src="images/limpieza-comercial/limpieza colegios -1.jpg" alt="image01"/><span>Limpieza comercial</span></a>
                  <div class="lb-overlay" id="colegios-1">
                    <div class="lb-content section"><img data-src="images/limpieza-comercial/limpieza colegios -1.jpg" alt="image01"/>
                      <div>
                        <h3>Limpieza comercial</h3><a class="lb-prev" href="#colegios-3">Prev</a><a class="lb-next" href="#colegios-2">Next</a>
                      </div><a class="lb-close" href="#page">x Cerrar</a>
                    </div>
                  </div>
                </li>
                <li><a href="#colegios-2"><img data-src="images/limpieza-comercial/limpieza colegios -2.jpg" alt="image02"/><span>Limpieza comercial</span></a>
                  <div class="lb-overlay" id="colegios-2">
                    <div class="lb-content section"><img data-src="images/limpieza-comercial/limpieza colegios -2.jpg" alt="image02"/>
                      <div>
                        <h3>Limpieza comercial</h3><a class="lb-prev" href="#colegios-1">Prev</a><a class="lb-next" href="#colegios-3">Next</a>
                      </div><a class="lb-close" href="#page">x Cerrar</a>
                    </div>
                  </div>
                </li>
                <li><a href="#colegios-3"><img data-src="images/limpieza-comercial/limpieza colegios -3.jpg" alt="image03"/><span>Limpieza comercial</span></a>
                  <div class="lb-overlay" id="colegios-3">
                    <div class="lb-content section"><img data-src="images/limpieza-comercial/limpieza colegios -3.jpg" alt="image03"/>
                      <div>
                        <h3>Limpieza comercial</h3><a class="lb-prev" href="#colegios-2">Prev</a><a class="lb-next" href="#colegios-1">Next</a>
                      </div><a class="lb-close" href="#page">x Cerrar</a>
                    </div>
                  </div>
                </li>
              </ul>
            </article>
            <article> 
              <h3 class="subtitle__content" id="sec3">Limpieza de oficinas</h3>
              <ul class="lb-album">
                <li><a href="#oficinas-1"><img data-src="images/limpieza-comercial/limpieza oficinas -1.jpg" alt="image01"/><span>Limpieza comercial</span></a>
                  <div class="lb-overlay" id="oficinas-1">
                    <div class="lb-content section"><img data-src="images/limpieza-comercial/limpieza oficinas -1.jpg" alt="image01"/>
                      <div>
                        <h3>Limpieza comercial</h3><a class="lb-prev" href="#oficinas-3">Prev</a><a class="lb-next" href="#oficinas-2">Next</a>
                      </div><a class="lb-close" href="#page">x Cerrar</a>
                    </div>
                  </div>
                </li>
                <li><a href="#oficinas-2"><img data-src="images/limpieza-comercial/limpieza oficinas -2.jpg" alt="image02"/><span>Limpieza comercial</span></a>
                  <div class="lb-overlay" id="oficinas-2">
                    <div class="lb-content section"><img data-src="images/limpieza-comercial/limpieza oficinas -2.jpg" alt="image02"/>
                      <div>
                        <h3>Limpieza comercial</h3><a class="lb-prev" href="#oficinas-1">Prev</a><a class="lb-next" href="#oficinas-3">Next</a>
                      </div><a class="lb-close" href="#page">x Cerrar</a>
                    </div>
                  </div>
                </li>
                <li><a href="#oficinas-3"><img data-src="images/limpieza-comercial/limpieza oficinas -3.jpg" alt="image03"/><span>Limpieza comercial</span></a>
                  <div class="lb-overlay" id="oficinas-3">
                    <div class="lb-content section"><img data-src="images/limpieza-comercial/limpieza oficinas -3.jpg" alt="image03"/>
                      <div>
                        <h3>Limpieza comercial</h3><a class="lb-prev" href="#oficinas-2">Prev</a><a class="lb-next" href="#oficinas-1">Next</a>
                      </div><a class="lb-close" href="#page">x Cerrar</a>
                    </div>
                  </div>
                </li>
              </ul>
            </article>
            <article> 
              <h3 class="subtitle__content" id="sec4">Limpieza de restaurantes</h3>
              <ul class="lb-album">
                <li><a href="#limpieza-restaurante-1"><img data-src="images/limpieza-comercial/limpieza restaurantes -1.jpg" alt="image01"/><span>Limpieza comercial</span></a>
                  <div class="lb-overlay" id="limpieza-restaurante-1">
                    <div class="lb-content section"><img data-src="images/limpieza-comercial/limpieza restaurantes -1.jpg" alt="image01"/>
                      <div>
                        <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-restaurante-3">Prev</a><a class="lb-next" href="#limpieza-restaurante-2">Next</a>
                      </div><a class="lb-close" href="#page">x Cerrar</a>
                    </div>
                  </div>
                </li>
                <li><a href="#limpieza-restaurante-2"><img data-src="images/limpieza-comercial/limpieza restaurantes -2.jpg" alt="image02"/><span>Limpieza comercial</span></a>
                  <div class="lb-overlay" id="limpieza-restaurante-2">
                    <div class="lb-content section"><img data-src="images/limpieza-comercial/limpieza restaurantes -2.jpg" alt="image02"/>
                      <div>
                        <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-restaurante-1">Prev</a><a class="lb-next" href="#limpieza-restaurante-3">Next</a>
                      </div><a class="lb-close" href="#page">x Cerrar</a>
                    </div>
                  </div>
                </li>
                <li><a href="#limpieza-restaurante-3"><img data-src="images/limpieza-comercial/limpieza restaurantes -3.jpg" alt="image03"/><span>Limpieza comercial</span></a>
                  <div class="lb-overlay" id="limpieza-restaurante-3">
                    <div class="lb-content section"><img data-src="images/limpieza-comercial/limpieza restaurantes -3.jpg" alt="image03"/>
                      <div>
                        <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-restaurante-2">Prev</a><a class="lb-next" href="#limpieza-restaurante-1">Next</a>
                      </div><a class="lb-close" href="#page">x Cerrar</a>
                    </div>
                  </div>
                </li>
              </ul>
            </article>
            <article> 
              <h3 class="subtitle__content" id="sec5">Lavado de letreros exteriores</h3>
              <ul class="lb-album">
                  <li><a href="#limpieza-empresas-1"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/><span>Limpieza comercial</span></a>
                    <div class="lb-overlay" id="limpieza-empresas-1">
                      <div class="lb-content section"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/>
                        <div>
                          <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-empresas-0">Prev</a><a class="lb-next" href="#limpieza-empresas-2">Next</a>
                        </div><a class="lb-close" href="#pagina">x Cerrar</a>
                      </div>
                    </div>
                  </li>
                  <li><a href="#limpieza-empresas-2"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/><span>Limpieza comercial</span></a>
                    <div class="lb-overlay" id="limpieza-empresas-2">
                      <div class="lb-content section"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/>
                        <div>
                          <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-empresas-1">Prev</a><a class="lb-next" href="#limpieza-empresas-3">Next</a>
                        </div><a class="lb-close" href="#pagina">x Cerrar</a>
                      </div>
                    </div>
                  </li>
                  <li><a href="#limpieza-empresas-3"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/><span>Limpieza comercial</span></a>
                    <div class="lb-overlay" id="limpieza-empresas-3">
                      <div class="lb-content section"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/>
                        <div>
                          <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-empresas-2">Prev</a><a class="lb-next" href="#limpieza-empresas-4">Next</a>
                        </div><a class="lb-close" href="#pagina">x Cerrar</a>
                      </div>
                    </div>
                  </li>
              </ul>
            </article>
            <article> 
              <h3 class="subtitle__content" id="sec6">Lavado de puertas de vidrio</h3>
              <ul class="lb-album">
                  <li><a href="#limpieza-empresas-1"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/><span>Limpieza comercial</span></a>
                    <div class="lb-overlay" id="limpieza-empresas-1">
                      <div class="lb-content section"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/>
                        <div>
                          <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-empresas-0">Prev</a><a class="lb-next" href="#limpieza-empresas-2">Next</a>
                        </div><a class="lb-close" href="#pagina">x Cerrar</a>
                      </div>
                    </div>
                  </li>
                  <li><a href="#limpieza-empresas-2"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/><span>Limpieza comercial</span></a>
                    <div class="lb-overlay" id="limpieza-empresas-2">
                      <div class="lb-content section"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/>
                        <div>
                          <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-empresas-1">Prev</a><a class="lb-next" href="#limpieza-empresas-3">Next</a>
                        </div><a class="lb-close" href="#pagina">x Cerrar</a>
                      </div>
                    </div>
                  </li>
                  <li><a href="#limpieza-empresas-3"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/><span>Limpieza comercial</span></a>
                    <div class="lb-overlay" id="limpieza-empresas-3">
                      <div class="lb-content section"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/>
                        <div>
                          <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-empresas-2">Prev</a><a class="lb-next" href="#limpieza-empresas-4">Next</a>
                        </div><a class="lb-close" href="#pagina">x Cerrar</a>
                      </div>
                    </div>
                  </li>
              </ul>
            </article>
            <article> 
              <h3 class="subtitle__content" id="sec7">Desmanchado de paredes</h3>
              <ul class="lb-album">
                  <li><a href="#limpieza-empresas-1"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/><span>Limpieza comercial</span></a>
                    <div class="lb-overlay" id="limpieza-empresas-1">
                      <div class="lb-content section"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/>
                        <div>
                          <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-empresas-0">Prev</a><a class="lb-next" href="#limpieza-empresas-2">Next</a>
                        </div><a class="lb-close" href="#pagina">x Cerrar</a>
                      </div>
                    </div>
                  </li>
                  <li><a href="#limpieza-empresas-2"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/><span>Limpieza comercial</span></a>
                    <div class="lb-overlay" id="limpieza-empresas-2">
                      <div class="lb-content section"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/>
                        <div>
                          <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-empresas-1">Prev</a><a class="lb-next" href="#limpieza-empresas-3">Next</a>
                        </div><a class="lb-close" href="#pagina">x Cerrar</a>
                      </div>
                    </div>
                  </li>
                  <li><a href="#limpieza-empresas-3"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/><span>Limpieza comercial</span></a>
                    <div class="lb-overlay" id="limpieza-empresas-3">
                      <div class="lb-content section"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/>
                        <div>
                          <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-empresas-2">Prev</a><a class="lb-next" href="#limpieza-empresas-4">Next</a>
                        </div><a class="lb-close" href="#pagina">x Cerrar</a>
                      </div>
                    </div>
                  </li>
              </ul>
            </article>
            <article> 
              <h3 class="subtitle__content" id="sec8">Limpieza y regado de aceras</h3>
              <ul class="lb-album">
                  <li><a href="#limpieza-empresas-1"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/><span>Limpieza comercial</span></a>
                    <div class="lb-overlay" id="limpieza-empresas-1">
                      <div class="lb-content section"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/>
                        <div>
                          <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-empresas-0">Prev</a><a class="lb-next" href="#limpieza-empresas-2">Next</a>
                        </div><a class="lb-close" href="#pagina">x Cerrar</a>
                      </div>
                    </div>
                  </li>
                  <li><a href="#limpieza-empresas-2"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/><span>Limpieza comercial</span></a>
                    <div class="lb-overlay" id="limpieza-empresas-2">
                      <div class="lb-content section"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/>
                        <div>
                          <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-empresas-1">Prev</a><a class="lb-next" href="#limpieza-empresas-3">Next</a>
                        </div><a class="lb-close" href="#pagina">x Cerrar</a>
                      </div>
                    </div>
                  </li>
                  <li><a href="#limpieza-empresas-3"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/><span>Limpieza comercial</span></a>
                    <div class="lb-overlay" id="limpieza-empresas-3">
                      <div class="lb-content section"><img data-src="images/limpieza-industrial/thumb/imagen-no-disponible.jpg" alt="Limpieza comercial"/>
                        <div>
                          <h3>Limpieza comercial</h3><a class="lb-prev" href="#limpieza-empresas-2">Prev</a><a class="lb-next" href="#limpieza-empresas-4">Next</a>
                        </div><a class="lb-close" href="#pagina">x Cerrar</a>
                      </div>
                    </div>
                  </li>
              </ul>
            </article>
          </main>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="multilimpio">
        <div class="footer__item">
          <div class="footer__itemcontent wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".0s">
            <h2 class="footer__title">Servicios y Productos</h2>
            <ul class="footer__main">
              <li class="footer__main_item"><a href="limpieza-industrial.html">Limpieza industrial</a></li>
              <li class="footer__main_item"><a href="limpieza-comercial.html">Limpieza comercial</a></li>
              <li class="footer__main_item"><a href="limpieza-domestica.html">Limpieza domestica</a></li>
              <li class="footer__main_item"><a href="otros-servicios.html">Otros servicios</a></li>
              <li class="footer__main_item"><a href="accesorios-y-productos-de-limpieza.html">Accesorios y productos de limpieza</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__item">
          <div class="footer__itemcontent wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".0s">
            <h2 class="footer__title">El Alto - Bolivia</h2>
            <p class="footer__text"><span>Zona Ballivian, Av. Alfonso Ugarte #430, Of. 9</span><span>entre calle Chacón y Sgt. Carrasco</span><br><span><strong>Telf:</strong> 2562696</span><span>, <strong> Cel.:</strong> <span class="whatsapp">77593519</span> - 70517844</span></p>
            <div class="footer__contact">
              <div class="colEmail">
                <p class="footer__text">multilimpio.ltda@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__item">
          <div class="footer__itemcontent wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".0s">
            <ul class="social footer__social">
              <li class="social__icon"><a href="#" target="_blanck"><i class="icon-facebook"></i></a></li>
              <li class="social__icon"><a href="#" target="_blanck"><i class="icon-youtube"></i></a></li>
              <li class="social__icon"><a href="#" target="_blanck"><i class="icon-twitter"></i></a></li>
            </ul>
            <h2 class="footer__title">Multilimpio Srl.</h2>
            <p class="footer__text">Todos los Derechos Reservados ®. </p>
            <p class="footer__text"><strong>MULTILIMPIO SRL.</strong> © <span id="currentDate"></span><br><br></p><a class="footer__text ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/bundle.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
