public_html/nosotros.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="MULTILIMPIO SRL."/>
    <meta property="og:title" content="MULTILIMPIO SRL. Empresa de limpieza industrial, comercial y doméstica"/>
    <meta property="og:description" content="MULTILIMPIO SRL."/>
    <meta name="author" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="styles.css"/>
    <title>MULTILIMPIO SRL. Empresa de limpieza industrial, comercial y doméstica</title>
  </head>
  <body class="body">
    <div id="multilimpio">
      <header class="header">
        <div class="multilimpio header__logo"><a href="./"><span class="wow fadeInDown" style="display:block;" data-wow-duration="1.5s" data-wow-delay=".0s"><img class="isologo" src="images/isologo.png" alt="MULTILIMPIO SRL."/></span></a>
          <ul class="social header__social">
            <li class="social__icon wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".0s"><a href="#" target="_blanck"><i class="icon-facebook"></i></a></li>
            <li class="social__icon wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".0s"><a href="#" target="_blanck"><i class="icon-youtube"></i></a></li>
            <li class="social__icon wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".0s"><a href="#" target="_blanck"><i class="icon-twitter"></i></a></li>
          </ul>
          <ul class="main-inicio">
            <li class="main-inicio__item wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".0s"><a class="main-inicio__link wow swing" href="./"><i class="icon-home"></i> Inicio</a></li>
            <li class="main-inicio__item wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".0s"><a class="main-inicio__link wow swing" href="./nosotros.html"><i class="icon-us"></i> Nosotros</a></li>
            <li class="main-inicio__item wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".0s"><a class="main-inicio__link wow swing" href="./contactos.html"><i class="icon-contact"></i> Contactos</a></li>
          </ul>
          <button class="main__button toggle__button" v-on:click="sideMain" :class="{toggle__button_active: menutemporal}" type="button"> 
            <div class="hamburger hamburger--elastic" :class="{'is-active' : menutemporal}"><span class="hamburger-box"><span class="hamburger-inner"></span></span></div><span style="font-size: 1.5rem;">&nbsp; MENÚ</span>
          </button>
          <div class="multilimpio toggle__main" :class="{toggle__main_active: menutemporal}">
            <nav class="header__main">
              <ul class="toggle__inicio">
                <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./"><i class="icon-home"></i> Inicio</a></li>
                <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./nosotros.html"><i class="icon-us"></i> Nosotros</a></li>
                <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./contactos.html"><i class="icon-contact"></i> Contactos </a></li>
              </ul>
              <ul class="main">
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".4s"><a class="main__link" href="limpieza-industrial.html">
                    <button class="main__button">LIMPIEZA<br>INDUSTRIAL</button></a></li>
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".2s"><a class="main__link" href="limpieza-comercial.html">
                    <button class="main__button">LIMPIEZA<br>COMERCIAL</button></a></li>
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".0s"><a class="main__link" href="limpieza-domestica.html">
                    <button class="main__button">LIMPIEZA<br>DOMÉSTICA</button></a></li>
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".2s"><a class="main__link" href="otros-servicios.html">
                    <button class="main__button">OTROS<br>SERVICIOS</button></a></li>
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".4s"><a class="main__link" href="accesorios-y-productos-de-limpieza.html">
                    <button class="main__button">ACCESORIOS<br>  Y PRODUCTOS</button></a></li>
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".5s"><a class="main__link" href="trabaja-con-nosotros.html">
                    <button class="main__button main__button_info">TRABAJA CON<br> NOSOTROS</button></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <section>
        <div class="section multilimpio" style="background: white;">
          <h2 class="title__section">Nuestra empresa</h2>
          <div class="col50">
            <h3 class="title__content">Misión</h3>
            <p class="content_text">Prestar un servicio de calidad, eficiencia, profesionalidad  y con responsabilidad, contribuir brindando trabajo a la sociedad, mantener el concepto de familia considerando que ante la ley todos somos iguales en nuestra empresa, respetando la libre competencia y respetando las leyes y normas que nos rigen en nuestro país.</p>
          </div>
          <div class="col50">
            <h3 class="title__content">Visión</h3>
            <p class="content_text">Ser la empresa número uno en el mercado en brindar  servicios de Limpieza Integral  y mantenimiento, altamente eficiente, logrando que nuestros clientes nos prefieran, más que una empresa, una familia.</p>
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="multilimpio">
        <div class="footer__item">
          <div class="footer__itemcontent wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".0s">
            <h2 class="footer__title">Servicios y Productos</h2>
            <ul class="footer__main">
              <li class="footer__main_item"><a href="limpieza-industrial.html">Limpieza industrial</a></li>
              <li class="footer__main_item"><a href="limpieza-comercial.html">Limpieza comercial</a></li>
              <li class="footer__main_item"><a href="limpieza-domestica.html">Limpieza domestica</a></li>
              <li class="footer__main_item"><a href="otros-servicios.html">Otros servicios</a></li>
              <li class="footer__main_item"><a href="accesorios-y-productos-de-limpieza.html">Accesorios y productos de limpieza</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__item">
          <div class="footer__itemcontent wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".0s">
            <h2 class="footer__title">El Alto - Bolivia</h2>
            <p class="footer__text"><span>Zona Ballivian, Av. Alfonso Ugarte #430, Of. 9</span><span>entre calle Chacón y Sgt. Carrasco</span><br><span><strong>Telf:</strong> 2562696</span><span>, <strong> Cel.:</strong> <span class="whatsapp">77593519</span> - 70517844</span></p>
            <div class="footer__contact">
              <div class="colEmail">
                <p class="footer__text">multilimpio.ltda@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__item">
          <div class="footer__itemcontent wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".0s">
            <ul class="social footer__social">
              <li class="social__icon"><a href="#" target="_blanck"><i class="icon-facebook"></i></a></li>
              <li class="social__icon"><a href="#" target="_blanck"><i class="icon-youtube"></i></a></li>
              <li class="social__icon"><a href="#" target="_blanck"><i class="icon-twitter"></i></a></li>
            </ul>
            <h2 class="footer__title">Multilimpio Srl.</h2>
            <p class="footer__text">Todos los Derechos Reservados ®. </p>
            <p class="footer__text"><strong>MULTILIMPIO SRL.</strong> © <span id="currentDate"></span><br><br></p><a class="footer__text ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/bundle.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

pug/nosotros.pug
<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    #multilimpio
      include blocks/header1.pug       
      section
        .section.multilimpio(style="background: white;")
          h2.title__section Nuestra empresa
          .col50
            h3.title__content Misión
            p.content_text Prestar un servicio de calidad, eficiencia, profesionalidad  y con responsabilidad, contribuir brindando trabajo a la sociedad, mantener el concepto de familia considerando que ante la ley todos somos iguales en nuestra empresa, respetando la libre competencia y respetando las leyes y normas que nos rigen en nuestro país.
          .col50
            h3.title__content Visión
            p.content_text Ser la empresa número uno en el mercado en brindar  servicios de Limpieza Integral  y mantenimiento, altamente eficiente, logrando que nuestros clientes nos prefieran, más que una empresa, una familia.
    include blocks/footer.pug
