pug/trabaja-con-nosotros.pug
<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    #multilimpio
      include blocks/header1.pug       
      section
        .section.multilimpio(style="background: white;")
          h2.title__section Trabaja con nosotros
          .col100
            p.content_text Llene el siguiente fomulario para poder postular a un puesto de trabajo en Multilimpio SRL.
            hr
          #form
            //- form.multilimpio.form(v-on:submit.prevent="submitJob")
            form.multilimpio.form(v-on:submit.prevent="submitJob")
              .col50
                .item
                  label.form__label(for="") Nombre completo: 
                  input.form__input(v-model="job.nombre" type="text" required="")
                .item
                  label.form__label(for="") Teléfono: 
                  input.form__input(v-model="job.telefono" type="number" required="")
                .item
                  label.form__label(for="") Celular: 
                  input.form__input(v-model="job.movil" type="number" required="")
                .item
                  label.form__label(for="") Dirección: 
                  input.form__input(v-model="job.direccion" type="text" required="")
              //- .item
              //-   label.form__label(for="") Ciudad: 
              //-   input.form__input(v-model="vue.ciudad" type="text" required="")
              .col50
                .item
                  label.form__label(for="") Email: 
                  input.form__input(v-model="job.email" type="email" required="")
                .item
                  label.form__label(for="") Coméntanos sobre tu experiencia de trabajo mas reciente: 
                  textarea.form__input(v-model="job.experiencia" name="", cols="30", rows="10" required="") 
                .form_buttons
                  button.form__button(type="submit") Enviar
                  button.form__button(v-on:click="clearForm()") Limpiar
                .statusMessage(v-if="jobSubmitted")
                  h4(v-text="job.envio")
    include blocks/footer.pug
    script(src="js/vue-form.js")

public_html/trabaja-con-nosotros.html
<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com"/>
    <meta name="description" content="MULTILIMPIO SRL."/>
    <meta property="og:title" content="MULTILIMPIO SRL. Empresa de limpieza industrial, comercial y doméstica"/>
    <meta property="og:description" content="MULTILIMPIO SRL."/>
    <meta name="author" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="styles.css"/>
    <title>MULTILIMPIO SRL. Empresa de limpieza industrial, comercial y doméstica</title>
  </head>
  <body class="body">
    <div id="multilimpio">
      <header class="header">
        <div class="multilimpio header__logo"><a href="./"><span class="wow fadeInDown" style="display:block;" data-wow-duration="1.5s" data-wow-delay=".0s"><img class="isologo" src="images/isologo.png" alt="MULTILIMPIO SRL."/></span></a>
          <ul class="social header__social">
            <li class="social__icon wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".0s"><a href="#" target="_blanck"><i class="icon-facebook"></i></a></li>
            <li class="social__icon wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".0s"><a href="#" target="_blanck"><i class="icon-youtube"></i></a></li>
            <li class="social__icon wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".0s"><a href="#" target="_blanck"><i class="icon-twitter"></i></a></li>
          </ul>
          <ul class="main-inicio">
            <li class="main-inicio__item wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".0s"><a class="main-inicio__link wow swing" href="./"><i class="icon-home"></i> Inicio</a></li>
            <li class="main-inicio__item wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".0s"><a class="main-inicio__link wow swing" href="./nosotros.html"><i class="icon-us"></i> Nosotros</a></li>
            <li class="main-inicio__item wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".0s"><a class="main-inicio__link wow swing" href="./contactos.html"><i class="icon-contact"></i> Contactos</a></li>
          </ul>
          <button class="main__button toggle__button" v-on:click="sideMain" :class="{toggle__button_active: menutemporal}" type="button"> 
            <div class="hamburger hamburger--elastic" :class="{'is-active' : menutemporal}"><span class="hamburger-box"><span class="hamburger-inner"></span></span></div><span style="font-size: 1.5rem;">&nbsp; MENÚ</span>
          </button>
          <div class="multilimpio toggle__main" :class="{toggle__main_active: menutemporal}">
            <nav class="header__main">
              <ul class="toggle__inicio">
                <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./"><i class="icon-home"></i> Inicio</a></li>
                <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./nosotros.html"><i class="icon-us"></i> Nosotros</a></li>
                <li class="main-inicio__item"><a class="main-inicio__link wow swing" href="./contactos.html"><i class="icon-contact"></i> Contactos </a></li>
              </ul>
              <ul class="main">
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".4s"><a class="main__link" href="limpieza-industrial.html">
                    <button class="main__button">LIMPIEZA<br>INDUSTRIAL</button></a></li>
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".2s"><a class="main__link" href="limpieza-comercial.html">
                    <button class="main__button">LIMPIEZA<br>COMERCIAL</button></a></li>
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".0s"><a class="main__link" href="limpieza-domestica.html">
                    <button class="main__button">LIMPIEZA<br>DOMÉSTICA</button></a></li>
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".2s"><a class="main__link" href="otros-servicios.html">
                    <button class="main__button">OTROS<br>SERVICIOS</button></a></li>
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".4s"><a class="main__link" href="accesorios-y-productos-de-limpieza.html">
                    <button class="main__button">ACCESORIOS<br>  Y PRODUCTOS</button></a></li>
                <li class="main__item wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".5s"><a class="main__link" href="trabaja-con-nosotros.html">
                    <button class="main__button main__button_info">TRABAJA CON<br> NOSOTROS</button></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <section>
        <div class="section multilimpio" style="background: white;">
          <h2 class="title__section">Trabaja con nosotros</h2>
          <div class="col100">
            <p class="content_text">Llene el siguiente fomulario para poder postular a un puesto de trabajo en Multilimpio SRL.</p>
            <hr/>
          </div>
          <div id="form">
            <form class="multilimpio form" v-on:submit.prevent="submitJob">
              <div class="col50">
                <div class="item">
                  <label class="form__label" for="">Nombre completo: </label>
                  <input class="form__input" v-model="job.nombre" type="text" required=""/>
                </div>
                <div class="item">
                  <label class="form__label" for="">Teléfono: </label>
                  <input class="form__input" v-model="job.telefono" type="number" required=""/>
                </div>
                <div class="item">
                  <label class="form__label" for="">Celular: </label>
                  <input class="form__input" v-model="job.movil" type="number" required=""/>
                </div>
                <div class="item">
                  <label class="form__label" for="">Dirección: </label>
                  <input class="form__input" v-model="job.direccion" type="text" required=""/>
                </div>
              </div>
              <div class="col50">
                <div class="item">
                  <label class="form__label" for="">Email: </label>
                  <input class="form__input" v-model="job.email" type="email" required=""/>
                </div>
                <div class="item">
                  <label class="form__label" for="">Coméntanos sobre tu experiencia de trabajo mas reciente: </label>
                  <textarea class="form__input" v-model="job.experiencia" name="" cols="30" rows="10" required=""> </textarea>
                </div>
                <div class="form_buttons">
                  <button class="form__button" type="submit">Enviar</button>
                  <button class="form__button" v-on:click="clearForm()">Limpiar</button>
                </div>
                <div class="statusMessage" v-if="jobSubmitted">
                  <h4 v-text="job.envio"></h4>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="multilimpio">
        <div class="footer__item">
          <div class="footer__itemcontent wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".0s">
            <h2 class="footer__title">Servicios y Productos</h2>
            <ul class="footer__main">
              <li class="footer__main_item"><a href="limpieza-industrial.html">Limpieza industrial</a></li>
              <li class="footer__main_item"><a href="limpieza-comercial.html">Limpieza comercial</a></li>
              <li class="footer__main_item"><a href="limpieza-domestica.html">Limpieza domestica</a></li>
              <li class="footer__main_item"><a href="otros-servicios.html">Otros servicios</a></li>
              <li class="footer__main_item"><a href="accesorios-y-productos-de-limpieza.html">Accesorios y productos de limpieza</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__item">
          <div class="footer__itemcontent wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".0s">
            <h2 class="footer__title">El Alto - Bolivia</h2>
            <p class="footer__text"><span>Zona Ballivian, Av. Alfonso Ugarte #430, Of. 9</span><span>entre calle Chacón y Sgt. Carrasco</span><br><span><strong>Telf:</strong> 2562696</span><span>, <strong> Cel.:</strong> <span class="whatsapp">77593519</span> - 70517844</span></p>
            <div class="footer__contact">
              <div class="colEmail">
                <p class="footer__text">multilimpio.ltda@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__item">
          <div class="footer__itemcontent wow fadeInRight" data-wow-duration="1.5s" data-wow-delay=".0s">
            <ul class="social footer__social">
              <li class="social__icon"><a href="#" target="_blanck"><i class="icon-facebook"></i></a></li>
              <li class="social__icon"><a href="#" target="_blanck"><i class="icon-youtube"></i></a></li>
              <li class="social__icon"><a href="#" target="_blanck"><i class="icon-twitter"></i></a></li>
            </ul>
            <h2 class="footer__title">Multilimpio Srl.</h2>
            <p class="footer__text">Todos los Derechos Reservados ®. </p>
            <p class="footer__text"><strong>MULTILIMPIO SRL.</strong> © <span id="currentDate"></span><br><br></p><a class="footer__text ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/bundle.js"></script>
    <script src="js/main.js"></script>
    <script src="js/vue-form.js"></script>
  </body>
</html>
